@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Kilometraje</th>
      <th scope="col">Numero de asientos</th>
      <th scope="col">Placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mazda</td>
      <td>p25</td>
      <td>125</td>
      <td>32</td>
      <td>wer 852</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Volvo</td>
      <td>L65</td>
      <td>75</td>
      <td>40</td>
      <td>asd 256</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Marco polo</td>
      <td>D00</td>
      <td>100</td>
      <td>50</td>
      <td>cft 456</td>
    </tr>
  </tbody>
</table>