*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
/ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/
*.cache
*.dll
*.pdb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
/ProyectoCiclo3.App.Persistencia/AppRepositorios/AppContext.cs
/ProyectoCiclo3.App.Consola
/ProyectoCiclo3.App.Dominio

C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Dominio\obj\Debug\netstandard2.0\ProyectoCiclo3.App.Dominio.csproj.CoreCompileInputs.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Dominio\obj\project.nuget.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\bin\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\bin\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.pdb
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\bin\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.Views.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\bin\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.Views.pdb
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\bin\Debug\netcoreapp3.1\ProyectoCiclo3.App.Persistencia.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\bin\Debug\netcoreapp3.1\ProyectoCiclo3.App.Persistencia.pdb
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\Migrations\20220922030401_IdentityInitial.cs
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.csproj.CoreCompileInputs.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.csproj.FileListAbsolute.txt
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.csprojAssemblyReference.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.pdb
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.RazorCoreGenerate.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.Views.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.Views.pdb
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\bin\Debug\netcoreapp3.1\ProyectoCiclo3.App.Persistencia.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\bin\Debug\netcoreapp3.1\ProyectoCiclo3.App.Persistencia.pdb
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\Migrations\20220922030401_IdentityInitial.cs
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.csproj.CoreCompileInputs.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.csproj.FileListAbsolute.txt
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.csprojAssemblyReference.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.pdb
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.RazorCoreGenerate.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.Views.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.Views.pdb
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\Razor\Pages\Buses\list.cshtml.g.cs
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\Razor\Pages\Rutas\Create.cshtml.g.cs
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\Razor\Pages\Rutas\List.cshtml.g.cs
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\Razor\Pages\Shared\_Layout.cshtml.g.cs
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Persistencia\bin\Debug\netstandard2.1\ProyectoCiclo3.App.Persistencia.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Persistencia\bin\Debug\netstandard2.1\ProyectoCiclo3.App.Persistencia.pdb
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Persistencia\obj\Debug\netstandard2.1\ProyectoCiclo3.App.Persistencia.csproj.CoreCompileInputs.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Persistencia\obj\Debug\netstandard2.1\ProyectoCiclo3.App.Persistencia.csprojAssemblyReference.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Persistencia\obj\Debug\netstandard2.1\ProyectoCiclo3.App.Persistencia.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Persistencia\obj\Debug\netstandard2.1\ProyectoCiclo3.App.Persistencia.pdb
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Dominio\obj\Debug\netstandard2.0\ProyectoCiclo3.App.Dominio.csproj.CoreCompileInputs.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Dominio\obj\project.nuget.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.csproj.CoreCompileInputs.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\obj\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.csprojAssemblyReference.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Persistencia\bin\Debug\netstandard2.1\ProyectoCiclo3.App.Persistencia.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Persistencia\bin\Debug\netstandard2.1\ProyectoCiclo3.App.Persistencia.pdb
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Persistencia\obj\Debug\netstandard2.1\ProyectoCiclo3.App.Persistencia.csproj.CoreCompileInputs.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Persistencia\obj\Debug\netstandard2.1\ProyectoCiclo3.App.Persistencia.csprojAssemblyReference.cache
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Persistencia\obj\Debug\netstandard2.1\ProyectoCiclo3.App.Persistencia.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Persistencia\obj\Debug\netstandard2.1\ProyectoCiclo3.App.Persistencia.pdb
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\Migrations\20220922030401_IdentityInitial.cs
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\bin\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\bin\Debug\netcoreapp3.1\ProyectoCiclo3.App.Frontend.Views.dll
C:\Users\Joan-\OneDrive\Escritorio\ProyectoCiclo3.App\ProyectoCiclo3.App.Frontend\bin\Debug\netcoreapp3.1\ProyectoCiclo3.App.Persistencia.dll
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
ProyectoCiclo3.App.Dominio/obj/Debug/netstandard2.0/ProyectoCiclo3.App.Dominio.csprojAssemblyReference.cache
ProyectoCiclo3.App.Dominio/obj/Debug/netstandard2.0/ProyectoCiclo3.App.Dominio.csprojAssemblyReference.cache
ProyectoCiclo3.App.Frontend/bin/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.dll
ProyectoCiclo3.App.Frontend/bin/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.pdb
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.dll
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.pdb
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
ProyectoCiclo3.App.Dominio/obj/Debug/netstandard2.0/ProyectoCiclo3.App.Dominio.csprojAssemblyReference.cache
ProyectoCiclo3.App.Frontend/bin/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.dll
ProyectoCiclo3.App.Frontend/bin/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.pdb
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.dll
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.pdb
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/Razor/Pages/Estaciones/List.cshtml.g.cs
ProyectoCiclo3.App.Dominio/obj/Debug/netstandard2.0/ProyectoCiclo3.App.Dominio.csprojAssemblyReference.cache
ProyectoCiclo3.App.Frontend/bin/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.dll
ProyectoCiclo3.App.Frontend/bin/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.pdb
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.dll
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.pdb
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/Razor/Pages/Estaciones/List.cshtml.g.cs
ProyectoCiclo3.App.Frontend/bin/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.dll
ProyectoCiclo3.App.Frontend/bin/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.pdb
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.dll
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/ProyectoCiclo3.App.Frontend.Views.pdb
ProyectoCiclo3.App.Frontend/obj/Debug/netcoreapp3.1/Razor/Pages/Estaciones/List.cshtml.g.cs
