@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Tiempo estimado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Centro</td>
      <td>Estadio</td>
      <td>30 min</td>
    </tr>
   <tr>
      <th scope="row">2</th>
      <td>Centro</td>
      <td>Terminal</td>
      <td>5 min</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Terminal</td>
      <td>Estadio</td>
      <td>40 min</td>
    </tr>
  </tbody>
</table>