@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://img.freepik.com/vector-gratis/maqueta-publicidad-metro_1284-70550.jpg?w=1060&t=st=1662957119~exp=1662957719~hmac=d08af8a390c5da0c3984ef7bf3e133c25727a1c4a46438eb07ee806394227010">

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Boton Flotante con Css</title>
    <link rel="stylesheet" href="estilos.css">
    <!--Icon-Font-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <input type="checkbox" id="btn-mas">
        <div class="redes">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-pinterest"></a>
        </div>
        <div class="btn-mas">
            <label for="btn-mas" class="fa fa-plus"></label>
        </div>
    </div>
</body>
</html>
</div>


