@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://img.freepik.com/vector-gratis/maqueta-publicidad-metro_1284-70550.jpg?w=1060&t=st=1662957119~exp=1662957719~hmac=d08af8a390c5da0c3984ef7bf3e133c25727a1c4a46438eb07ee806394227010">
</div>
